body {
    margin: 0px;
    padding: 0px;
}

#header-divider {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#main-divider {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
}

#line {
    border-left: 4px solid #1c1c1c;
    height: 500px;
    margin: 20px;
}

#tools, #articles {
    width: 50vw;
}

#tools {
    padding-left: 10px;
}

ul, li, p {
    text-align: left;
}

ul {
    padding-left: 20px;
}

li {
    padding-bottom: 8px;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

a {
    color: black;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    background-color: #1c1c1c;
    color: white;
    padding: 5px;
}
