body {
    margin: 0px;
    padding: 10px;
}

#main-divider {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    width: 50%;
}

#line {
    border-left: 4px solid #1c1c1c;
    height: 500px;
    margin: 20px;
}

#tools, #articles {
    width: 50vw;
}

ul, li, p {
    text-align: left;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
