.switch {
    display: none;
}

label {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: gray;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.moon {
    width: 30px;
    background-color: black;
    -webkit-mask: url(blog/img/moon.svg) no-repeat center;
    mask: url(blog/img/moon.svg) no-repeat center;
}

.sun {
    width: 30px;
    background-color: black;
    -webkit-mask: url(blog/img/sun.svg) no-repeat center;
    mask: url(blog/img/sun.svg) no-repeat center;
}

.slider {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;

    top: 13px;
    left: 63px;
}