body {
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 11px;
}

canvas {
    display: block;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    touch-action: none;
}

.categories {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 20px;
    left: 20px;
}

.spawnCategoryButton, .spawnButton, .spawnCategoryPanel {
    border: solid #6879d0 1px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}

.spawnCategoryButton, .spawnButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 5px;
}

.spawnCategoryButton {
    position: relative;
    width: 100px;
}

.spawnCategoryPanel {
    border-width: 1px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100px;
    height: auto;
    top: 50px;
}

#categoryFramelessPanel {
    left: 50px;
}

#categoryFramedPanel {
    left: 160px;
}

.spawnButton {
    width: auto;
}
