body {
    background-color: #333;
}

* {
    color: white;
}

pre, code {
    background-color: #1c1c1c;
}

h2 code, h3 code {
    background-color: #1c1c1c;
}

a, a code {
    color: #258ae7;
}

.code-keyword {
    color: #a400de;
}

.code-comment {
    color: #787878;
}

.code-literal {
    color: #de8705;
}

.code-call {
    color: #39728E;
    /* font-weight: 550; */
}

.code-diff-add {
    background-color: #00e79433;
}

.code-diff-remove {
    background-color: #f61b6a33;
}