body {
    --column-width: 856px;

    margin: 60px 0px 80px 0px;
    padding: 0px calc((100vw - var(--column-width))/2);
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 15px;
    }
}

h1 {
    font-family: 'Oswald';
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-size: 45px;
    font-weight: 400;
}

h3 {
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
}

ul, li, p {
    font-family: 'Old Standard TT';
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}

code {
    font-family: 'Fira Code';
    font-size: 16px;
    font-weight: 400;

    padding-left: 0.3em;
    padding-right: 0.3em;
}

pre code {
    padding-left: 0em;
    padding-right: 0em;
}

pre {
    padding: 30px;
    overflow: auto;
}

figure {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

figcaption {
    align-self: flex-end;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 300;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration-thickness: 1px;
}
