@font-face {
    font-family: ShipporiMincho;
    src: url(ShipporiMincho-ExtraBold.woff);
}

body {
    --title-font: ShipporiMincho;
    --header-font: 'Inter';
    --subheader-font: 'Noto Sans';
    --text-font: 'Spectral';
    --code-font: 'Fira Code';
}

h1 {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 1000;
    /* text-transform: uppercase; */
}

h2 {
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;

    margin-top: 52px;
    margin-bottom: 0px;
}

h3, h4, h5, h6 {
    font-family: var(--subheader-font);
    font-size: 20px;
    font-weight: 700;
    /* text-transform: uppercase; */

    margin-top: 32px;
    margin-bottom: 0px;
}

ul, li, p, blockquote {
    font-family: var(--text-font);
    font-size: 19px;
    font-weight: 300;
    
    margin-top: 15px;
}

blockquote {
    font-size: 17px;
}

pre, code {
    font-family: var(--code-font);
    font-size: 14px;
    font-weight: 400;
}

li + li {
    margin-top: 2px;
}

figcaption {
    font-family: var(--subheader-font);
    font-size: 18px;
    font-weight: 400;

    margin-top: 5px;
}
