body {
    --title-font: 'Raleway';
    --header-font: 'STIX Two Text';
    --subheader-font: 'STIX Two Text';
    --text-font: 'Open Sans';
}

h1 {
    font-family: var(--title-font);
    font-size: 46px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: var(--header-font);
    font-size: 32px;
    font-weight: 600;
    /* text-transform: uppercase; */

    margin-top: 50px;
    margin-bottom: 0px;
}

h3, h4, h5, h6 {
    font-family: var(--subheader-font);
    font-size: 24px;
    font-weight: 800;
    /* text-transform: uppercase; */

    margin-top: 30px;
    margin-bottom: 0px;
}

ul, li, p, blockquote {
    font-family: var(--text-font);
    font-size: 19px;
    font-weight: 360;
    line-height: 30px;

    margin-top: 18px;
}

blockquote {
    font-size: 17px;
}

li + li {
    margin-top: 2px;
}

figcaption {
    font-family: var(--subheader-font);
    font-size: 18px;
    font-weight: 600;

    margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
    ul, li, p, blockquote {
        font-size: 16px;
    }
    
    blockquote {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }
    
    h3, h4, h5, h6 {
        font-size: 20px;
    }
}