body {
    --title-font: 'Oswald';
    --header-font: 'Oswald';
    --subheader-font: 'Oswald';
    --text-font: 'Old Standard TT';
    --code-font: 'Fira Code';
}

h1 {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 400;
    /* text-transform: uppercase; */

    margin-top: 52px;
    margin-bottom: 0px;
}

h2 code {
    font-size: 40px;
    font-weight: 1000;
}

h3, h4, h5, h6 {
    font-family: var(--subheader-font);
    font-size: 20px;
    font-weight: 600;
    /* text-transform: uppercase; */

    margin-top: 28px;
    margin-bottom: 0px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

ul, li, p, blockquote, small {
    font-family: var(--text-font);
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
}

blockquote {
    font-size: 17px;
}

small {
    font-size: 16px;
}

pre, code {
    font-family: var(--code-font);
    font-size: 14px;
    font-weight: 400;
}

li + li {
    margin-top: 2px;
}

figcaption {
    font-family: var(--subheader-font);
    font-size: 18px;
    font-weight: 600;

    margin-top: 5px;
}
