body {
    --title-font: 'DM Sans';
    --header-font: 'DM Sans';
    --subheader-font: 'DM Sans';
    --text-font: 'Roboto Slab';
}

h1 {
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: 700;
    /* text-transform: uppercase; */
}

h2 {
    font-family: var(--header-font);
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;

    margin-top: 52px;
    margin-bottom: 0px;
}

h3, h4, h5, h6 {
    font-family: var(--subheader-font);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    margin-top: 50px;
    margin-bottom: 0px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

ul, li, p {
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 300;

    margin-top: 20px;
}

figcaption {
    font-family: var(--subheader-font);
    font-size: 18px;
    font-weight: 600;

    margin-top: 5px;
}
