body {
    --title-font: 'Shippori Mincho';
    --header-font: 'Shippori Mincho';
    --subheader-font: 'Shippori Mincho';
    --text-font: 'Crimson Pro';
}

h1 {
    font-family: var(--title-font);
    font-size: 46px;
    font-weight: 600;
    /* text-transform: uppercase; */
    font-variant: small-caps;
}

h2 {
    font-family: var(--header-font);
    font-size: 28px;
    font-weight: 1000;
    /* text-transform: uppercase; */

    margin-top: 50px;
    margin-bottom: 0px;
}

h3, h4, h5, h6 {
    font-family: var(--subheader-font);
    font-size: 21px;
    font-weight: 600;
    /* text-transform: uppercase; */
    
    margin-top: 28px;
    margin-bottom: 0px;
}

ul, li, p {
    font-family: var(--text-font);
    font-size: 21px;
    font-weight: 350;
    line-height: 26px;
    
    margin-top: 15px;
}

figcaption {
    font-family: var(--subheader-font);
    font-size: 18px;
    font-weight: 600;

    margin-top: 5px;
}
