body {
    --title-font: 'Raleway';
    --header-font: 'STIX Two Text';
    --text-font: 'STIX Two Text';
}

h1 {
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: var(--header-font);
    font-size: 45px;
    font-weight: 600;
}

h3 {
    font-family: var(--header-font);
    font-size: 30px;
    font-weight: 800;
}

ul, li, p {
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 400;
}

figcaption {
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 300;
}
