* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    overflow: hidden;
}

*:focus {
    outline: none;
}

body {
    margin: 0 auto;
    background-color: #154247;
    text-align: center;
	line-height: 0;
}


.card-space {
    --card-ratio: calc(800.0/1267.0);
    --card-height: 23.5vh;
    --card-width: calc(var(--card-height) * var(--card-ratio));

    width: var(--card-width);
    height: var(--card-height);
	
    position: relative;
    display: inline-block;
}

.card {
	background-size: contain;
    background-position: center center;
    border-radius: 1vh;
	border: 1px solid #555;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 1);
}

#deck {
    position: fixed;
    top: 5vh;
	left: 5vh;
	
	background-image: url("cards/shirt.svg");
}

#pyramid{
    margin-top: 3vh;
    text-align: center;
    position: relative;
	display: inline-block;
}

.result_label {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%) translate(0px, -35px);

    width: 700px;
    height: 200px;

    background: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0.15);

    opacity: 0.8;

    color: #003000;

    font-family: "Impact";
    font-size: 72pt;

    visibility: hidden;

    text-align: center;
    align-content: center;
}
